body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lucida Sans';
}

header {
    background-color: #493a3ad2;
    color: #fff;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
    font-size: 2.2rem;
    text-align: center;
}

.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.img-fluid {
    max-width: 66%;
    height: auto;
}

.p-2:hover {
    opacity: 0.8;
}

.btn-primary:hover {
    background-color: #1596ff;
    border-color: #2e5896;
}

.btn-danger {
    background-color: #dc354bc9;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #493a3ad2;
    color: white;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
    position: fixed; 
}

.alert-warning {
    background-color: #ffc107;
    color: #0c5460;
}

.alert {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-color: #3333338f;
    border-radius: 0.25rem;
}